<div class="splash">
  <div class="logo">
    <h1>Budget_R</h1>
  </div>
  <div class="auths">
    <%= link_to "Log in", new_user_session_path, :class => 'login' %><br />
    <%= link_to "Sign up", new_user_registration_path, :class => 'signup' %><br />
  </div>
</div>
